body {
    font-family: Tahoma;
}

header img {
    height: 600px; 
    width: 600px;
    margin-top: -200px;
    margin-bottom: -355px;
}
header ul li {
    list-style-type: none;
    display: inline;
    padding-left: 37.5px;
    top: 12.5px;
    text-align: left;
}

header li {
    color: white;
    font-size: 40px;
}

header h1{
    background-color: black;
    color: white;
    width: 20px;
    height: auto;
    font-size: 36px;
    padding: 20px;
    position: relative;
    top: 25px;
    left: 1500px;
 }

header nav {
    width: 100%;
    height: 50px;
    background-color: black;
}

header a {
    text-decoration: none;
    font-weight: bold;
    font-size: 25px;
}

nav a:link {
    color: white;
}

nav a:visited {
    color: white;
}

nav a:hover {
    background-color: darkgray;
    color: grey;
    height: 50px;
}

nav a:active  {
    color: white;
}

#header h1#center{
    text-align: left;
    position: relative;
    width: 80px;
    height: auto;
    font-size: 80px;
    padding: 10px;
    left: 1200px;
    bottom: -20px;
    margin: 0;
}

section p {
    font-size: 20px;
    text-align: justify;
    width: 50%;
    margin-right: 20px;
    float: left;
    text-align: justify;
    overflow: hidden;
}

#center {
    text-align: center;
    font-size: 75px; 
    text-decoration-line: underline;
}

.wg img {
    float:right;
    width:500px;
    height:250px;
    border-radius: 8px;
    border: 5px solid black;
}

.wg p {
    overflow: auto;
    padding: 50px;
    text-align: justify;
    font-size: 20px;
}

.confifunds h1 {
    text-align: center; 
    font-size: 50px;
}
.confifunds img{
    float:left;
    width:500px;
    height:250px;
    border-radius: 8px;
    border: 5px solid black;
    margin-top: 50px;
}

.confifunds p {
    overflow: auto;
    padding: 50px;
    text-align: justify;
    font-size: 20px;
}

#left {
    width: 50%; 
    height: 150px; 
    float: left; 
    font-size: 20px;
    margin: 30px;
    text-align: justify;;
}

#right {
    margin-left: 50%; 
    margin: 30px;
    height: 150px;
    text-align: justify;
    font-size: 20px;
}

footer {
    font-size: 20px;
    border-top: 10px solid black; 
    margin-top: 100px; 
}
footer h3 {
    text-align: center;
    font-style: italic;
    color: grey;
}
.backtotop, .backtotop a {
    text-align: right;
    line-height: 30px;
    color: black;
    margin-bottom: 50px; 
    margin-top: 2px; 
    margin-right: 25px; 
    list-style-type: none;
}
.backtotop a {
    text-decoration: none;
    font-weight: bold;
    font-size: 30px;
}
.backtotop a:hover {
    text-decoration: underline;
}
.social-media-icons {
    list-style-type: none;
    font-weight: bold;
    text-align: center;
    vertical-align: bottom;
    color: darkgray;
}
.social-media-icons li {
    display: inline-block;
}
.social-media-icons a {
    display: block;
    transition: all 500ms ease-out;
}

.social-media-icons a:hover {
    filter: invert(100%) opacity(75%);
}
.social-media-icons a:active {
    filter: blur(2px) invert(100%) opacity(75%);
}

.gmail {
    background: url("../images/social-icons.png") no-repeat -106px -59px;
	width: 51px;
	height: 56px;
}

.facebook {
    background: url("../images/social-icons.png") no-repeat -53px 0;
	width: 51px;
	height: 56px;
}

.twitter {
    background: url("../images/social-icons.png") no-repeat 0 0;
	width: 51px;
	height: 56px;
}
